
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-medium:before { content: '\e805'; } /* '' */
.icon-stackoverflow:before { content: '\e806'; } /* '' */
.icon-github-squared:before { content: '\e807'; } /* '' */
.icon-me:before { content: '\e808'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */